XML/Atelier XML N°2/basefilms.dtd

<!ELEMENT basefilms (artistes+, films+)>
<!ELEMENT artistes (nom, categorie)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT categorie (#PCDATA)>
<!ELEMENT films (film+)>
<!ELEMENT film (titre, genre, annee, duree, acteurs, realisateur)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT annee (#PCDATA)>
<!ELEMENT duree (#PCDATA)>
<!ELEMENT acteurs (personne+)>
<!ELEMENT personne (#PCDATA)>
<!ELEMENT realisateur (#PCDATA)>

<!ATTLIST artiste codartiste ID #REQUIRED>